p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.badge {
  color: #343c6a;
}

.btn {
  border-radius: 0;
  font-size: 0.9rem;
  text-transform: capitalize;
}
.btn.btn-primary {
  background-color: #123088;
  border-color: #123088;
}

a {
  text-decoration: none !important;
  color: #343c6a;
}

.flex-v-center {
  display: flex;
  align-items: center;
  gap: 0;
  flex-wrap: nowrap;
}

.common-tab-view-section {
  position: relative;
}
.common-tab-view-section .order-menu-wrapper {
  background-color: #fff;
  position: sticky;
  top: 5rem;
  height: 85vh;
  overflow-y: scroll;
}
.common-tab-view-section .order-menu-wrapper .nav-link {
  background-color: unset;
  border: none;
  color: #343c6a;
  padding: 0;
}
.common-tab-view-section .order-menu-wrapper .nav-link.active .order-card {
  background-color: #e2e2e2;
}
.common-tab-view-section .order-menu-wrapper .nav-link .order-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1.25rem;
  border-bottom: 1px solid #f2f2f2;
}
.common-tab-view-section .order-menu-wrapper .nav-link .order-card .left-part .title {
  font-size: 1.35rem;
  text-transform: uppercase;
  font-weight: 700;
}
.common-tab-view-section .order-menu-wrapper .nav-link .order-card .left-part .sub-title {
  font-size: 0.8rem;
  margin: 0;
  text-align: left;
}
.common-tab-view-section .order-menu-wrapper .nav-link .order-card .right-part {
  font-weight: 500;
  font-size: 0.9rem;
}
.common-tab-view-section .order-menu-wrapper .nav-link .order-card .right-part .badge {
  text-transform: uppercase;
  font-size: 0.7rem;
  background-color: #ffd000;
  padding: 0.35rem 0.5rem;
  margin-left: 0.2rem;
  border-radius: 2px;
}
.common-tab-view-section .vertical-tab-body-wrapper {
  padding: 1rem;
  background-color: #fff;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.25rem;
  padding-top: 0;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .header p {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .card {
  border-radius: 0.9rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  overflow: clip;
  border: 1px solid #f2f2f2;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .card .thumb-wrapper {
  max-width: 210px;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .card .content-wrapper .title {
  font-size: 1.45rem;
  font-weight: 700;
  color: #123088;
  margin-bottom: 0.5rem;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .card .content-wrapper .contact-wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0.25rem 0;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .card .content-wrapper .contact-wrapper .contact-item {
  font-size: 0.9rem;
  opacity: 0.8;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .card .content-wrapper .address-items {
  margin-top: 0.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  opacity: 0.75;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .card .content-wrapper .address-items:last-child {
  margin-bottom: 0;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .card .content-wrapper .address-items small {
  font-size: 0.75rem;
  font-weight: 400;
}
.common-tab-view-section .vertical-tab-body-wrapper .order-details-card .card .content-wrapper .address-items address {
  font-size: 1rem;
  margin: 0;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item {
  margin: 1.5rem 0;
  border: 1px solid #f2f2f2;
  border-radius: 0.75rem;
  overflow: clip;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-header .accordion-button {
  border: none;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: none;
  color: #343c6a;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-header .accordion-button::after {
  rotate: -90deg;
  color: #343c6a;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-header [aria-expanded=true] {
  background: #fff;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-header [aria-expanded=true].accordion-button::after {
  color: #343c6a;
  rotate: 180deg;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-body .order-lists .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem 0 0.35rem;
  border-top: 1px solid #f2f2f2;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-body .order-lists .total p {
  text-transform: uppercase;
  font-size: 1.04rem;
  font-weight: 800;
  color: #ff9100;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-body .order-lists .items-wrapper .list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-body .order-lists .items-wrapper .list-item p {
  font-size: 0.95rem;
  font-weight: 700;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-body .order-lists .items-wrapper .list-item.header {
  margin-bottom: 0.25rem;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-body .order-lists .items-wrapper .list-item.header .cost,
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-body .order-lists .items-wrapper .list-item.header .title {
  font-size: 1.15rem;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-body .order-lists .items-wrapper .otr-list {
  justify-content: start;
  gap: 2rem;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-body .order-lists .items-wrapper .otr-list .item {
  font-weight: 600;
  color: #a0aec0;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .accordion-item .accordion-body .order-lists .items-wrapper .otr-list .item span {
  color: #343c6a;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .payment .accordion-header .accordion-button {
  position: relative;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .payment .accordion-header .accordion-button .status-icon {
  position: absolute;
  right: 4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  display: grid;
  border-radius: 4px;
  place-content: center;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .payment .accordion-header .accordion-button .status-icon.pending {
  background-color: #ffd000;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .payment .accordion-header .accordion-button .status-icon i {
  font-size: 1rem;
  color: #fff;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .form-group .form-label {
  font-size: 0.85rem;
  font-weight: 500;
  margin-bottom: 1px;
  cursor: pointer;
  color: #123088;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .accordion-button {
  display: flex;
  gap: 3.5rem;
  align-items: center;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .accordion-button .status-name {
  padding: 0.25rem 0.5rem;
  background-color: #4fd1c5;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .status-list {
  position: relative;
  list-style: none;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .status-list .status-item {
  position: relative;
  padding: 1rem 2rem;
  margin-left: 0.5rem;
  border-left: 1px dashed #e2e2e2;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .status-list .status-item .title {
  font-size: 1rem;
  font-weight: 700;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .status-list .status-item small {
  font-weight: 500;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .status-list .status-item::before {
  position: absolute;
  content: "";
  width: 1.45rem;
  height: 1.45rem;
  background-color: #e2e2e2;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0 1rem 1rem 1rem;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .status-list .status-item::after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-70%);
  border-radius: 0 1rem 1rem 1rem;
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .status-list .status-item.success::after {
  background-color: rgb(0, 173, 38);
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .status-list .status-item.pending::after {
  background-color: rgb(255, 174, 0);
}
.common-tab-view-section .vertical-tab-body-wrapper .tab-pane .accordion .order-status-wrapper .status-list .status-item.blocked::after {
  background-color: red;
}

.badge {
  border-radius: 0;
  font-weight: 500;
  text-transform: uppercase;
}
.badge.new {
  background-color: #00aaad !important;
  color: #fff;
}
.badge.no-status {
  background-color: #c6c6c6 !important;
  color: #333;
}
.badge.hold {
  background-color: #d80000 !important;
  color: #fff;
}
.badge.paid {
  background-color: #00ab4a !important;
  color: #fff;
}
.badge.sent {
  background-color: #ffd900 !important;
  color: #333;
}
.badge.sale {
  background-color: rgba(255, 193, 8, 0.9) !important;
  color: #333;
}
.badge.preparing {
  background-color: rgba(255, 193, 8, 0.3) !important;
  color: #333;
}
.badge.excise {
  background-color: #ffc108 !important;
  color: #333;
}
.badge.delivered {
  background-color: #00b69b !important;
  color: #fff;
}
.badge.red-flag {
  background-color: #ef3826 !important;
  color: #fff;
}
.badge.ofd {
  background-color: #6226ef !important;
  color: #fff;
}

.table-responsive::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(92, 92, 92, 0.3);
}
.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: rgb(211, 211, 211);
  outline: 1px solid rgba(51, 51, 51, 0.2);
}
.table-responsive .table {
  vertical-align: middle;
}
.table-responsive .table th,
.table-responsive .table td {
  vertical-align: middle;
  font-size: 14px;
}

.tabbed-table {
  background-color: #fff;
  box-shadow: 0 4px 14px 0 rgba(51, 51, 51, 0.05);
  border-radius: 1rem;
  padding: 2rem;
  border: 1px solid #f7f7f7;
}
.tabbed-table .recent-transactions-tab-header {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}
.tabbed-table .recent-transactions-tab-header .nav-item .nav-link {
  font-size: 0.95rem;
  border: none;
  margin: 0;
  color: #333;
  font-weight: 500;
}
.tabbed-table .recent-transactions-tab-header .nav-item .nav-link.active {
  color: #343c6a;
  font-weight: 600;
  border-bottom: 2px solid #343c6a;
}
.tabbed-table .title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #343c6a;
  margin-bottom: 1.5rem;
}
.tabbed-table .recent-transactions-tab-body .tickets-table .table thead {
  background-color: #f2f2f2;
}
.tabbed-table .recent-transactions-tab-body .tickets-table .table tr td {
  padding: 1rem 0.5rem;
}
.tabbed-table .recent-transactions-tab-body .tickets-table .table tr:last-child td {
  border: none;
}
.tabbed-table .recent-transactions-tab-body .tickets-table .table tr .status {
  background-color: #f2f2f2;
  display: inline-block;
  padding: 0.12rem 0.85rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}
.tabbed-table .recent-transactions-tab-body .tickets-table .table tr .status.new {
  background-color: #ffa600;
  color: #333;
}
.tabbed-table .recent-transactions-tab-body .tickets-table .table tr .status.sale {
  background-color: #00a349;
  color: #fff;
}
.tabbed-table .recent-transactions-tab-body .tickets-table .table tr .action .btn {
  padding: 0.15rem 1rem;
  border-radius: 0;
  font-size: 0.9rem;
}

.table {
  margin-bottom: 0;
}
.table th {
  background-color: aliceblue;
}
.table tr:last-child td {
  border: none;
}

.user-table-section .users-table {
  vertical-align: middle;
}
.user-table-section .users-table th {
  text-transform: capitalize;
}
.user-table-section .users-table .profile-thumb {
  max-width: 40px;
}
.user-table-section .users-table tbody .action .btn {
  padding: 0.15rem 1rem;
  border-radius: 0;
  font-size: 0.9rem;
}

.followups-table .table .ticket-id i {
  color: #ff4949;
  rotate: 90deg;
}
.followups-table .table .client-details .card-title {
  font-size: 1.02rem;
  font-weight: 600;
}
.followups-table .table .client-details small {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.25rem;
  opacity: 0.65;
}
.followups-table .table .client-details small span {
  margin-bottom: 0.15rem;
}
.followups-table .table .actions-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.followups-table .table .actions-wrapper .btn-action {
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  background-color: #299aff;
  text-decoration: none;
  color: #fff;
  border-radius: 100%;
  font-size: 0.8rem;
}
.followups-table .table .actions-wrapper .btn-action.whatsapp {
  font-size: 1.1rem;
  background-color: #1bd741;
}
.followups-table .table .actions-wrapper .btn-action.email {
  background-color: #ff4949;
  font-size: 0.98rem;
}
.followups-table .table .actions-wrapper .btn-action.message {
  background-color: #123088;
}

.form-select,
.form-control {
  border-radius: 0;
  border: 1px solid #f2f2f2;
}

.form-label {
  font-weight: 500;
}

.modal .modal-content {
  padding: 1rem;
  border-radius: 0rem;
}
.modal .text {
  font-size: 0.85rem;
}

.approve-user-modal .modal-content .card {
  padding: 1rem;
  border-radius: 0;
  border: 1px solid #f2f2f2;
}
.approve-user-modal .modal-content .card .card-user,
.approve-user-modal .modal-content .card .user-details-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
}
.approve-user-modal .modal-content .card .card-user .img-wrapper,
.approve-user-modal .modal-content .card .user-details-card .img-wrapper {
  overflow: hidden;
  border-radius: 0;
  max-width: 120px;
}
.approve-user-modal .modal-content .card .card-user .content-block .title,
.approve-user-modal .modal-content .card .user-details-card .content-block .title {
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.approve-user-modal .modal-content .card .card-user .content-block .sub-title,
.approve-user-modal .modal-content .card .user-details-card .content-block .sub-title {
  font-weight: 500;
  margin-bottom: 0.15rem;
  font-size: 0.85rem;
}
.approve-user-modal .modal-content .card .card-user .content-block small,
.approve-user-modal .modal-content .card .user-details-card .content-block small {
  font-size: 0.75rem;
}
.approve-user-modal .modal-content .card .card-user {
  border: 1px solid #f2f2f2;
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 0;
}
.approve-user-modal .modal-content .card .card-user .icon-wrapper {
  width: 3rem;
  height: 3rem;
  border-radius: 0.25rem;
  display: grid;
  place-content: center;
  background-color: rgba(254, 197, 61, 0.3);
}
.approve-user-modal .modal-content .card .card-user .div-top .title {
  font-size: 0.8rem;
  font-weight: 500;
}
.approve-user-modal .modal-content .card .card-user .div-top .sales {
  font-size: 1.5rem;
  font-weight: 700;
}
.approve-user-modal .modal-content .contact-info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  max-width: 80%;
  margin: 1.5rem auto 1rem;
  border-radius: 0;
  background-color: #f9f9f9;
  border: 1px solid #f7f7f7;
}/*# sourceMappingURL=global.css.map */