$dark-text: #343c6a;
$dark: #123088;
$mute-text: #a0aec0;
$ocean-green: #4fd1c5;
$yellow: #387adf;
// $yellow: #fba834;
$shadow: 0 4px 14px 0 rgba(51, 51, 51, 0.05);

.sales-status-page {
  .order-short-desc {
    display: flex;
    align-items: center;
    gap: 1rem;
    .order-detail-btn {
      display: grid;
      place-content: center;
      width: 1.75rem;
      height: 1.75rem;
      text-decoration: none;
      color: $dark-text;
      background-color: #f2f2f2;
      i {
        font-size: 0.95rem;
      }
    }
  }
}
