$dark: #123088;
$dark-text: #343c6a;
$mute-text: #a0aec0;
$ocean-green: #4fd1c5;
$yellow: #387adf;
// $yellow: #fba834;
$shadow: 0 4px 14px 0 rgba(51, 51, 51, 0.05);

body {
  font-size: clamp(0.75rem, 1vw, 1rem);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.btn-primary {
  background-color: $dark;
  border-color: $dark;
}

.user-management-page {
  .core-team-section {
    position: relative;
    margin-bottom: 1rem;

    .user-team-card {
      background-color: #f9f9f9;
      box-shadow: 0px 5px 10px 0px rgb(216, 213, 213);
      padding: 2rem 1rem;
      border-radius: 1rem;
      text-align: center;
      position: relative;
      height: 95%;

      .profile-thumb {
        max-width: 120px;
        margin: 0 auto;
      }

      .content-area {
        .title {
          font-size: clamp(1.15rem, 2vw, 1.5rem);
          text-transform: uppercase;
          margin-top: 0.75rem;
          font-weight: 800;
        }

        .sub-title {
          font-size: clamp(0.75rem, 1vw, 0.9rem);
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }

        .other-info {
          font-size: clamp(0.95rem, 0.8vw, 1.25rem);
          font-weight: 600;

          mark {
            background-color: unset;
            color: $yellow;
          }
        }
      }
    }

    .section-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      background-color: white;
      padding: 1rem 1.1rem;
      box-shadow: $shadow;
      border-radius: 1rem;

      .title {
        font-size: 1.65rem;
        margin: 0;
        font-weight: 700;
      }
    }
  }

  //   :: -- user table section -- ::
  .user-table-section {
    .users-table {
      vertical-align: middle;

      th {
        text-transform: capitalize;
      }

      .profile-thumb {
        max-width: 40px;
      }

      tbody {
        .action {
          .btn {
            padding: 0.15rem 1rem;
            border-radius: 0;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.user-mmt-modal {
  .modal-content {
    border-radius: 1rem;
    padding: 1rem;

    .heading-area {
      margin-bottom: 2.75rem;
      border-bottom: 1px solid #f2f2f2;

      .title {
        font-size: 1.35rem;
        padding: 1rem;
        margin: 0;
        font-weight: 700;
      }
    }

    .main-content-area {
      .form-label {
        font-weight: 600;
        font-size: 0.95rem;
      }

      .form-select,
      .form-control {
        padding: 0.6rem 1rem;
        border-radius: 12px;
      }

      .form-select {
        text-indent: 10px;

        option {
          padding: 0.25rem 0.5rem;
          height: 2px;
        }
      }
    }

    .btn {
      min-width: 6rem;

      &.btn-primary {
        background-color: $dark-text;
        color: #fff;
        min-width: 7rem;
        border-color: $dark-text;
      }
    }
  }

  &.add-new-user {
    .user-profile {
      max-width: 180px;
      background-color: $dark-text;
      position: relative;
      padding: 0.25rem;
      border-radius: 8px;

      img {
        border-radius: 8px;
      }

      // overflow: clip;
      .upload-profile-wrapper {
        position: absolute;
        bottom: -0.5rem;
        right: -0.7rem;
        z-index: 999;

        .form-label {
          width: 2.5rem;
          height: 2.5rem;
          background-color: #fff;
          border-radius: 0.25rem;
          display: grid;
          place-content: center;

          i {
            font-size: 1.5rem;
            color: $dark-text;
          }
        }
      }
    }
  }
}